* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-color: var(--color-apricot);
  font-family: var(--font-family-regular);
  font-size: var(--fs-regular);
  height: 100%;
  line-height: var(--lh-regular);
  margin: 0;
}

body.overflow-hidden {
  overflow: hidden;
}

blockquote,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
hr,
legend,
p,
pre,
button,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 13px;
}

.swb-body-content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
