.swb-flex {
    display: flex;
}

.swb-flex-grow-1 {
    flex-grow: 1;
}

.swb-align-center {
    align-items: center;
}

.swb-justify-between {
    justify-content: space-between;
}

.swb-card-grid {
    display: grid;
    grid-auto-flow: column;
    grid-gap: var(--side-spacing-regular);
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (min-width: 768px) {
    .m-r-lg-20 {
        margin-right: 20px;
    }

    .mb-lg-10 {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .swb-card-grid {
        grid-auto-flow: row;
        grid-gap: var(--side-spacing-small);
        grid-template: none;
    }
}