html {
  font-size: var(--fs-regular);
}

body, input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-regular);
  font-family: var(--font-family-regular);
  font-size: var(--fs-regular);
  line-height: var(--lh-regular);
}
