html {
    /*colors*/
    --color-almond: #a38b80;
    --color-apricot: #fbf2ea;
    --color-blue: #5b8ad6;
    --color-bisque: #feecbe;
    --color-brown: #512b2b;
    --color-iceberg: #bcd8db;
    --color-light-blue: #448aff;
    --color-light-gray: #ebe7e2;
    --color-light-wood: #785f5f;
    --color-mountain-meadow: #e9f7fb;
    --color-pink: #c5569a;
    --color-off-white: #f4f4f4;
    --color-orange-main: #ee7023;
    --color-orange-main-hover: #f35b1c;
    --color-red: #c5131c;
    --color-turquoise: #31A3ae;
    --color-turquoise-dark: #257886;
    --color-wafer: #d4c4bc;
    --color-white: #ffffff;
    --color-yellow: #fdc129;

    --gradient-orange-to-yellow: linear-gradient(to right, #fa7f25 0, #fdbe13 100%);

    --text-color-regular: #512b2b;

    /*fonts*/
    --font-family-regular: 'Arial', sans-serif;

    --font-weight-bold: bold;
    --font-weight-regular: normal;

    --fs-large: 18px;
    --fs-regular: 15px;
    --fs-small: 13px;
    --fs-extra-small: 12px;

    --fs-menu-icon: 18px;
    --lh-regular: 22px;

    /* Spacings*/
    --banner-bottom-spacing-large: 66px;
    --banner-bottom-spacing-regular: 46px;
    --btn-side-spacing: 8px 20px;
    --side-spacing-large: 30px;
    --side-spacing-regular: 20px;
    --side-spacing-small: 10px;

    --container-max-width: 1440px;

    /*Transitions*/
    --hover-bg-color-transition: background-color 0.25s ease-in-out;

    /*Border radius*/
    --border-radius-regular: 3px;


    /*Height*/
    --input-heigh: 46px;
}
